@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <h1 class="display-4">Contract Monthly Claim System</h1>

    <div class="d-inline-block">
        <a class="btn btn-primary" href="/Claim/Approve">ClaimRole</a>
        <a class="btn btn-primary" href="/Lecturer/Create">LecturerUser</a>
    </div>
</div>

